body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#153677,#4e085f);
}

.calculator {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

#display {
    width: 90%;
    padding: 20px;
    font-size: 2em;
    border: none;
    background-color: #f0f0f0;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 5px;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #bbb;
}

.operator-btn {
    background-color: #f39c12;
    color: white;
}

.operator-btn:hover {
    background-color: #e67e22;
}

/* Responsive Design */
@media (max-width: 600px) {
    #display {
        font-size: 1.5em;
        padding: 15px;
    }

    button {
        padding: 15px;
        font-size: 1.2em;
    }
}
