body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    border-radius: 50%;
}



#calculator{
    font-family: arial,sans-serif;
    background-color: hsl(0,0%,15%);
    border-radius: 50px;
    max-width: 100px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 1%, 30%);
    color: rgb(108, 178, 208);

}



#keys
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}




button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0,0%,30%);
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover
{
    background-color:  hsl(87, 28%, 50%);

}
button:active
{
    background-color: hsl(0,0%,50%);
  
}
.operator-btn
{
    background-color: rgb(65, 32, 171);
}
.operator-btn:hover
{
    background-color: rgb(200, 141, 200);
}